.projects {
  height: 100vh;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 80%;
  margin: auto;
}


.containerProjects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .containerProjects {
    justify-content: center;
  }
}


@media screen and (max-width: 898px) {
  .myProjects {
    height: 30px;
    
  }
}