.slogan {
  height: 30vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  color: antiquewhite;
}

.container {
  margin: auto;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}