.header {
  height: 70px;
  width: 100%;
  background-color: #f2ff81;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
}