.footer {
  height: 30vh;
  background-color: #252527;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socialNetworks {
  height: 45%;
  width: 70%;
  display: flex;
  flex-wrap	: wrap;
  justify-content	: space-between;
}

.socialNetworks div {
  width: 60px;
  height: 100%;
  background-color: rgb(248, 231, 73);
}

@media screen and (max-width: 650px) {
  .socialNetworks {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .socialNetworks div {
    width: 50px;
    height: 100%;
  }
}
