.columnProject {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentImg {
  width: 100%;
  height: 60%;
}

.img {
  background-color: blueviolet;
  height: 100%;
  position: relative;
}

.img span{
  position: absolute;
  left: 5%;
  top: 5%;
  
}

.img input {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 40%;
}
.nameProject {
  border: 1px solid;
}

.nameProject div{
  padding: 10px;
}