.projects {
  height: 100vh;
  background-color: rgb(237, 143, 250);
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  width: 80%;
  height: 80%;
}

.myProjects {
  height: 30%;
  display: flex;
  justify-content: center;
}

.containerProjects {
  display: flex;
  height: 70%;
  justify-content: space-between;
}