.skills {
  height: 100vh;
  background-color: rgb(153, 253, 106);
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  width: 80%;
  height: 80%;
}

.mySkills {
  height: 30%;
  display: flex;
  justify-content: center;
}

.containerSkills {
  display: flex;
  height: 70%;
  justify-content: space-between;
}