.contacts {
  height: 100vh;
  background-color: #1f1f20;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.container form {
  width: 500px;
  height: 45%;
  
}

.input {
  width: 99%;
  margin-top: 10px;
  border: 0px;
}

.container form textarea {
  width: 98.5%;
  height: auto;
  margin-top: 15px;
  border: 0px;
}

@media screen and (max-width: 650px) {
  .container form {
    width: 100%;
  }
}